.card{
    display: flex;
    flex-direction: column;    
    border: 2px solid white;
}

.name{
    padding: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.name_bgcolor_1{
    background-color: rgb(1, 89, 139);
}

.name_bgcolor_2{
    background-color: rgb(1, 139, 109);
}

.name_bgcolor_3{
    background-color: rgb(138, 38, 54);
}

.name_bgcolor_4{
    background-color: rgb(37, 37, 37);
}

.price{
    padding: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.price_bgcolor_1{
    background-color: rgb(2, 162, 255);
}

.price_bgcolor_2{
    background-color: rgb(0, 255, 200);
}

.price_bgcolor_3{
    background-color: rgb(250, 66, 97);
}

.price_bgcolor_4{
    background-color: rgb(97, 97, 97);
}

.speed{
    padding: 20px;
    background-color: rgb(243, 240, 240);
    color: rgb(81, 81, 92);
    border: 1px solid white;
    text-align: center;
}

.description{
    padding: 20px;
    background-color: rgb(224, 222, 222);
    color: rgb(81, 81, 92);
    text-align: center;
}