.container{
    display: flex;
    flex-direction: column;    
    border: 2px solid white;
    background-color: red;
}

.name{
    padding: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.price{
    padding: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;

}

.speed{
    padding: 20px;
    background-color: rgb(243, 240, 240);
    color: rgb(81, 81, 92);
    border: 1px solid white;
    text-align: center;
}

.description{
    padding: 20px;
    background-color: rgb(224, 222, 222);
    color: rgb(81, 81, 92);
    text-align: center;
}