.card{
    display: flex;
    flex-direction: column;
}

.selected{
    scale: 1.1;
    box-shadow: 0px 0px 15px black;
}

.name,.speed,.price,.description{
    padding: 1rem;
    border: 1px solid white;
    text-align: center;
}

.name,.price{
    color: white;
}

.name_bgcolor_1{
    background-color: rgb(1, 89, 139);
}

.name_bgcolor_2{
    background-color: rgb(1, 139, 109);
}

.name_bgcolor_3{
    background-color: rgb(138, 38, 54);
}

.name_bgcolor_4{
    background-color: rgb(37, 37, 37);
}

.price_bgcolor_1{
    background-color: rgb(2, 162, 255);
}

.price_bgcolor_2{
    background-color: rgb(0, 255, 200);
}

.price_bgcolor_3{
    background-color: rgb(250, 66, 97);
}

.price_bgcolor_4{
    background-color: rgb(97, 97, 97);
}

.speed,.description{
    color: rgb(81, 81, 92);
}

.speed{
    background-color: rgb(243, 240, 240);
}

.description{
    background-color: rgb(224, 222, 222);
}